* {
    box-sizing: border-box;

}

.container {
    margin: 0 auto;
    background-image: url("../img/fon.png");
    background-size: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}

.opacity-header {
    height: 54px;
    background: rgba(0, 0, 0, 0.4117647058823529);

}

.logo {
    position: absolute;
    width: 105px;
    height: 15px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    opacity: 1;
    text-transform: uppercase;
    float: left;
    font-weight: 600;
    text-decoration: none;
    top: 20px;
    left: 81px;

}

.log-in {
    position: absolute;
    float: left;
    color: #FFFFFF;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    top: 22px;
    right: 75px;
    font-weight: 600;

}

.log {
    color: #3CB878;
}

.logo:hover {
    color: #3CB878;
}

.log:hover {
    text-decoration: underline;
}


.icon-caledar {
    position: absolute;
    float: left;
    top: 17px;
    left: 968px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 19px;
    height: 19px;
    background-position: -71px -5px;
}

.icon-caledar:hover, .icon-forum:hover, .icon-journey:hover  {
    filter: invert(50%) sepia(110%) saturate(190%) hue-rotate(1180deg) brightness(93%) contrast(103%);

}

.icon-forum {
    position: absolute;
    float: left;
    top: 16px;
    left: 1010px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 28px;
    height: 20px;
    background-position: -100px -5px;
}

.icon-journey {
    position: absolute;
    float: left;
    top: 16px;
    left: 1060px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -138px -5px;
}

.sprite-line {
    position: absolute;
    float: left;
    top: 17px;
    left: 1069px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 3px;
    height: 20px;
    background-position: -168px -5px;
    opacity: 0.10196078431372549;
}


.form {
    border: 1px solid #bfbfbf;
    width: 444px;
    height: 584px;
    display: inline-block;
    background-color: white;
    margin: 119px 461px;
    border-radius: 10px;

}

.sign {
    width: 77px;
    height: 19px;
    font-size: 20px;
    top: 148px;
    left: 521px;
    margin: 29px 205px 14px 60px;
    display: inline-block;
    font-weight: 600;


}
.square {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    margin: 29px 320px 430px -1px;
}

.log-text {
    position: absolute;
    width: 43px;
    height: 13px;
    font-size: 14px;
    color: #3CB878;
    display: inline-block;
    margin: 33px 59px 14px 0;
    font-weight: 600;


}
.login {
    text-decoration: none;
    color: #3CB878;

}
.login:hover {
    text-decoration: underline;
}

.facebook-sprite {
    width: 158px;
    height: 47px;
    border: 1px solid gray;
    border-radius: 4px;
    background-image: url(../img/spritesheet.png);
    background-position: -5px -100px;
    color: white;
    font-size: 16px;
    text-align: right;
    padding: 14px 26px 13px 60px;
    margin: 0 0 33px 61px;
}

.facebook {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    background-position: -51px -5px;
    position: absolute;
    display: inline-block;
    top: 249px;
    left: 544px;
}
.line-button-facebook {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    float: left;
    top: 245px;
    left: 571px;
    background-position: -40px -5px;
    width: 2px;
    height: 28px;
    opacity: 0.10196078431372549;


}
.google-sprite {
    width: 158px;
    height: 47px;
    border: 1px solid gray;
    border-radius: 4px;
    background-image: url(../img/spritesheet.png);
    background-position: -5px -43px;
    color: white;
    font-size: 16px;
    text-align: right;
    padding: 14px 26px 13px 60px;
}
.google {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 20px;
    background-position: -5px -5px;
    position: absolute;
    display: inline-block;
    float: left;
    top: 250px;
    left: 700px;
}
.line-button-google {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    float: left;
    top: 245px;
    left: 735px;
    background-position: -40px -5px;
    width: 2px;
    height: 28px;
    opacity: 0.10196078431372549;
}

.por {
    padding: 0;
    width: 322px;
    text-align: center;
    position: relative;
    margin: 0 60px 17px 62px;
    color: #848484;

}
.por::before{
    content: '';
    display: inline-block;
    height: 2px;
    width: calc(50% - 25px);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);

}
.por::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: calc(50% - 25px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    right: 0;

}
.name-form {
    width: 323px;
    height: 47px;
    margin: 9px 60px 0 62px;
    color: #BEBEBE;
    font-size: 14px;
    padding: 18px ;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
}

.name-form:hover {
    padding: 1em;
    box-shadow: 2px 3px 10px 3px rgba(221, 221, 221, 1);
    color: #434343;

}
.name-checkbox {

    margin: 22px 10px 28px 65px;
}
.name-agree {
    color: #434343;

}
.terms {
    color: #3CB878;
}
.terms:hover {
    text-decoration: underline;
}
.button {
    width: 322px;
    height: 46px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #3CB878;
    font-size: 16px;
    margin: 0 60px 32px 62px;
}
.button:hover {
    background-color:  #329A65;
}